
.cards-header {
    margin-top: 1rem;
}

.cards-header p {
    padding: 25px 10px 40px 10px;
}

.cards-header h1 {
    margin-top: 3rem;
}

.cards-header .content {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -3rem;
}

.service-cards-btn button{
    margin: auto;
    margin-bottom: 2rem;
}



/* MEDIA QUERIES */

@media screen and (max-width:940px) {
   .cards-header .content {
    margin-left: 1rem;
   } 

   .cards-header h1 {
        font-size: 2rem;
   }

   .cards-header p {
    font-size: 15px;
}



}




