.team-main {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 3rem 0;
  }
  
  .team-main:before {
    content: '';
    position: absolute;
    background: url('../../assets/teambg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.07;
  }


.team-section {
    width: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0);
}

.team-section .content {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 5rem 1rem;
}


.team-section p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding: 1rem;
}

.team-thumbnail p {
    text-align: center;
}

.team-section h1 {
    padding: 1rem 0;
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
}

.team-right {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    gap: 1rem;
}

.team-thumbnail img {
    width: 180px;
    height:210px;
    margin: 5px;
    padding: 5px;
    box-shadow: 10px 5px 5px rgb(228, 228, 228);
    border-radius: 1rem;
}

.mission-section button {
    margin: auto;
}

@media screen and (max-width: 940px) {
    .team-section .content {
        width: 100%;
    }

    .team-section h1 {
        font-size: 25px;
    }

    .team-section p {
        font-size: 15px;
    }

}






