.jobs {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .4);
    position: relative;
}

.jobs:before {
    content: '';
    position: absolute;
    background: url('../../assets/submenu-bg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.jobs .content {
    position: absolute;
    top: 30%;
}

.jobs h1 {
    text-align: left;
    color: white;
    padding: 10px 0;
}

.jobs p {
    color: #f8f8f8;
    text-align: justify;
}

@media screen and (max-width:940px) {
    .jobs .content {
    width: 100%;
    padding: 25px;
    }

    .jobs p {
        color: #f8f8f8;
        font-size: 14px;
    }

    .jobs h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .jobs .content {
        top: 25%;
    }

}

