@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.home {
    width: 100%;
    height: 80vh;
    position: relative;
    top: 0;
    object-fit: cover;
}

.video-bg {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 0;
    object-fit: cover;
}

.home .hero-container {
    position: absolute;
    top: 25%;
    width: 100%;
}

.home-header h1 {
    color: #ffffff;
    font-size: 5rem;
    text-align: center;
    font-family: 'Vollkorn', serif;
    line-height: 3.5rem;
}

.hero-logo {
    text-align: center;
    width: 100%;
}

.hero-logo img {
    width: 20%;
}

.home span {
    color: white;
}

.home p {
    color: white;
    font-style: italic;
    text-align: center;
}


.subtitle {
    color: var(--primary-color);
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: -2.3px;
    font-weight: 600;
}

.home .home-btn button {
    cursor: pointer;
    margin: auto;
}


/* MEDIA QUERIES */

@media screen and (max-width:940px) {



    .subtitle {
        font-size: 1.5rem;
        padding: .5rem 0;
    }

    .home p {
        font-size: 13px;
    }

    .hero-logo img {
        width: 50%;
    }

    .home .hero-container {
        top: 30%;
    }

}