.mission-section {
    width: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0);
}

.mission-section .content {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.mission-section .content p {
    margin: 1rem 0;
}

.flex-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    gap: 1rem;
}

.thumbnail img {
    margin: 5px;
    width: 200px;
    padding: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

.thumbnail p {
    width: 220px;
}

.mission-section button {
    margin: auto;
}

@media screen and (max-width: 940px) {
    .mission-section .content {
        width: 100%;
    }


    .mission-section h1 {
        font-size: 25px;
    }

    .mission-section p {
        font-size: 15px;
    }
}






