@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.wrap {
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-evenly;
  margin: 5rem 0 0 0;
}

.box {
    height: auto;
    width: 600px;
    display: inline-block;
    margin: 1rem;
}

.box-right {
    width: 500px;
    text-align: center;
}

.box-right img{
    max-width: auto;
}

.box-right2 {
    width: 250px;
    display: none;
}

.wrap .header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.box img {
    border-radius: 10px;
}

.wrap p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.box-btn {
    text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width:940px) {


    .box img {
        display: none;
    }

    .wrap p {
        font-size: 14px;
        text-align: center;
    }

    .left {
        width: 100%;
    }

    .left h1 {
        font-size: 2rem;
    }

.left button {
    margin: 1rem auto;
}

.box-right {
    display: none;
}

.box-right2 {
    display: block;
}

}