.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards-header {
    width: auto;
    padding: 20px;
    text-align: center;
    margin: 2rem auto;
}


/* Small Size Devices*/
@media screen and (max-width:940px) {
    .cards-header h1 {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .cards-header p {
        font-size: 14px;
    }
}



